In [82]:
import numpy as np
import pandas as pd
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder

#rms = mean_squared_error(y_actual, y_predicted, squared=False)

In [83]:
train = pd.read_csv("home-data-for-ml-course/train.csv")
test = pd.read_csv("home-data-for-ml-course/test.csv")

In [84]:
train.shape

(1460, 81)

In [85]:
features = ['LotArea', 'LotShape', 'YearBuilt', '1stFlrSF', '2ndFlrSF', 'FullBath', 'BedroomAbvGr', 'TotRmsAbvGrd', 'SaleType', 'SaleCondition', 'YrSold', 'PavedDrive', 'KitchenQual', 'Heating', 'HeatingQC', 'ExterQual', 'OverallQual', 'MSSubClass', 'MSZoning', 'LotConfig', 'Neighborhood', 'HouseStyle', 'YearRemodAdd', 'Exterior1st', 'Exterior2nd']

In [86]:
X = train[features]

In [87]:
y = train.SalePrice

In [88]:
X.head(10)

,LotArea,LotShape,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd,SaleType,SaleCondition,...,ExterQual,OverallQual,MSSubClass,MSZoning,LotConfig,Neighborhood,HouseStyle,YearRemodAdd,Exterior1st,Exterior2nd
0,8450,Reg,2003,856,854,2,3,8,WD,Normal,...,Gd,7,60,RL,Inside,CollgCr,2Story,2003,VinylSd,VinylSd
1,9600,Reg,1976,1262,0,2,3,6,WD,Normal,...,TA,6,20,RL,FR2,Veenker,1Story,1976,MetalSd,MetalSd
2,11250,IR1,2001,920,866,2,3,6,WD,Normal,...,Gd,7,60,RL,Inside,CollgCr,2Story,2002,VinylSd,VinylSd
3,9550,IR1,1915,961,756,1,3,7,WD,Abnorml,...,TA,7,70,RL,Corner,Crawfor,2Story,1970,Wd Sdng,Wd Shng
4,14260,IR1,2000,1145,1053,2,4,9,WD,Normal,...,Gd,8,60,RL,FR2,NoRidge,2Story,2000,VinylSd,VinylSd
5,14115,IR1,1993,796,566,1,1,5,WD,Normal,...,TA,5,50,RL,Inside,Mitchel,1.5Fin,1995,VinylSd,VinylSd
6,10084,Reg,2004,1694,0,2,3,7,WD,Normal,...,Gd,8,20,RL,Inside,Somerst,1Story,2005,VinylSd,VinylSd
7,10382,IR1,1973,1107,983,2,3,7,WD,Normal,...,TA,7,60,RL,Corner,NWAmes,2Story,1973,HdBoard,HdBoard
8,6120,Reg,1931,1022,752,2,2,8,WD,Abnorml,...,TA,7,50,RM,Inside,OldTown,1.5Fin,1950,BrkFace,Wd Shng
9,7420,Reg,1939,1077,0,1,2,5,WD,Normal,...,TA,5,190,RL,Corner,BrkSide,1.5Unf,1950,MetalSd,MetalSd

In [89]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   LotArea        1460 non-null   int64
 1   LotShape       1460 non-null   object
 2   YearBuilt      1460 non-null   int64
 3   1stFlrSF       1460 non-null   int64
 4   2ndFlrSF       1460 non-null   int64
 5   FullBath       1460 non-null   int64
 6   BedroomAbvGr   1460 non-null   int64
 7   TotRmsAbvGrd   1460 non-null   int64
 8   SaleType       1460 non-null   object
 9   SaleCondition  1460 non-null   object
 10  YrSold         1460 non-null   int64
 11  PavedDrive     1460 non-null   object
 12  KitchenQual    1460 non-null   object
 13  Heating        1460 non-null   object
 14  HeatingQC      1460 non-null   object
 15  ExterQual      1460 non-null   object
 16  OverallQual    1460 non-null   int64
 17  MSSubClass     1460 non-null   int64
 18  MSZoning       1460 non-null   object
 19  LotConfig      1460 non-null   object
 20  Neighborhood   1460 non-null   object
 21  HouseStyle     1460 non-null   object
 22  YearRemodAdd   1460 non-null   int64
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
dtypes: int64(11), object(14)
memory usage: 285.3+ KB

In [90]:
enc = OneHotEncoder(handle_unknown='ignore')
X = pd.DataFrame(enc.fit_transform(X).toarray())

In [91]:
X.head()

,0,1,2,3,4,5,6,7,8,9,...,2575,2576,2577,2578,2579,2580,2581,2582,2583,2584
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [92]:
CatId = test.Id
test = test[features]

In [93]:
test = pd.DataFrame(enc.transform(test).toarray())

In [94]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

In [95]:
model = RandomForestRegressor(n_jobs=-1, max_features="sqrt")
model.fit(X_train, y_train)
pred = model.predict(X_val)
rms = mean_squared_error(y_val, pred, squared=False)
rms

45491.70246915652

In [100]:
model1 = RandomForestRegressor(n_estimators=1500, n_jobs=-1, max_features="sqrt")
model1.fit(X_train, y_train)
pred1 = model1.predict(X_val)
rms1 = mean_squared_error(y_val, pred1, squared=False)
rms1

44956.13467100819

In [101]:
test_pred = model1.predict(test)

In [102]:
output = pd.DataFrame({'Id': CatId,
                       'SalePrice': test_pred})

In [103]:
output.to_csv('submission1.csv', index=False)